@import 'variables.scss';

.blueFooterContainer{
    background-color: $mainColor ;
    height: 150px;
    display: flex;
    align-items: center;
    ul{
        display: flex;
        justify-content: space-between;
        list-style-type: none;
        align-items: center;
        li{
            display: flex;
            align-items: center;
            color: white;
            &:hover{
                cursor: pointer;
            }
        }
        a{
            text-decoration: none;
            margin: 0 30px;
        }
        img{
            max-height: 50px;
            width: 100%;
            object-fit: contain;
        }
    }
}