@import 'variables.scss';
.header_container{
    height: 120px;
    max-width: 1000px;
}
.header_right_list{
    display: flex;
}
.header_left{
    align-self: center;
    img:hover{
        cursor: pointer;
    }
}
nav{
   display: flex;
   justify-content: space-between;
   ul{
       list-style-type: none;
       display: flex;
       justify-content: space-between;
       li{
           align-self: center;
       }
   }
   
   a{
       text-decoration: none;
       text-transform: uppercase;
       color: $secondaryColor;
       margin: 10px ;
       &:hover{
           color: $mainColor;
           border-bottom: 3px solid $mainColor;
           padding-bottom: 47px
       }
   }
}
